body {
  background-color: #D4F4DD;
}

.inputText {
  width : 640px;
  height : 200px;
  word-break: break-word;
}

.inputTextForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.displayTextArea {
  margin-top: 40px;
  color : #0E7C7B;
  font-size: 1.2em;
  font-weight: 900;
}

.inputTextArea {
  color : #0E7C7B;
  font-size: 1.2em;
  font-weight: 900;
}

.submitButton {
  height: 30px;
  width : 60px;
  background-color:#0E7C7B;
  color: #D4F4DD;
  font-weight: bold;
  border-style: none;
  margin: 15px;
}

.app{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.speechButtonsHolder {
  display: flex;
  flex-direction: row;
}

.micButton {
  margin : 15px;
  width : 60px;
  height: 30px;
  background-color:#0E7C7B;
  color: #D4F4DD;
  font-weight: bold;
  border-style: none;
}

.fullInputWindow {
  display : flex;
  flex-direction: column;
  align-items: center;
}


.buttonsContainer {
  display : flex;
  flex-direction: column;
}

.submitContainer {
  display : flex;
  flex-direction: column;
  align-items: center;
  margin : 15px;
}